
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(135deg, #84a4df, #84a4df);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h1 {
    color: #000000;
    text-align: center;
    margin: 10px 0;
}

p {
    color: #000000;
    font-size: large;
    text-align: center;
    margin: 10px 20px;
}


#encabezado {
    background-color: #3951be;
    height: 80px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


#logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img {
    width: 100px;
}


#menu {
    width: 50%;
}

#menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: rgba(134, 112, 255, 0.863);
    border-radius: 5px;
}

#menu ul li a {
    display: block;
    color: blueviolet;
    padding: 14px 20px;
    text-decoration: none;
}

#menu ul li a:hover {
    color: #fff;
    background-color: #4cb7ff;
}


#redes {
    width: 20%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#redes img {
    width: 40px;
    cursor: pointer;
}


.encabezado1 { color: #6de670; }
.encabezado2 { color: #4cb7ff; }
.encabezado3 { color: #ffa647; }


.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    width: 250px;
    background-color: #ffffff;
    border: 4px solid #0d1b3d;
    border-radius: 10px;
    padding: 15px;
    text-align: center;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 5px;
}


#bloque-grande {
    width: 100%;
    padding: 30px;
    background-color: #3951be;;
    text-align: center;
}


@media (max-width: 768px) {
    #menu {
        display: none;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }
}
