body {
    background: linear-gradient(135deg, #84a4df, #84a4df);
}

h1 {
    color: #000000;
    text-align: center;
}

p {
    color: #cfcfcf;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}

#encabezado {
    background-color: #3951be;
    height: 60px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap:20px;
}
#logo{
    width: 30%;
    height: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo img{
    width: 100px;
}
#menu{
     width: 50%;
    height: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;

}
#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgba(134, 112, 255, 0.863);
}
#menu ul li{
    float: left;
}
#menu ul li a{
    display: block;
    color: blueviolet;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;

}

#menu ul li a:hover{
    color:#fff;
    background-color: #4cb7ff;
}

#redes{
     width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#redes img{
    width: 50px;
}

#encabezado .encabezado1 {
    color: #6de670; /* verde */
}

#encabezado .encabezado2 {
    color: #4cb7ff; /* azul */
}

#encabezado .encabezado3 {
    color: #ffa647; /* naranja */
}
