body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    background: #100e91;
    padding: 20px;
    border-radius: 10px;
    width: 260px;
}

#pantalla {
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    padding: 5px;
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.numero {
    background: #444;
    color: white;
}

.operador {
    background: #ff9500;
    color: white;
}

.limpiar {
    background: red;
    color: white;
}

.igual {
    background: green;
    color: white;
    grid-column: span 4;
}