body {
    background: linear-gradient(135deg, #1e3c72, #234c94);
}

h1 {
    color: #000000;
    text-align: center;
}

p {
    color: #cfcfcf;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}

#encabezado {
    background-color: #000000;
    min-height: 200px;
    height: auto;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(252, 54, 54, 0.4);
}

#encabezado .encabezado1 {
    color: #6de670; /* verde */
}

#encabezado .encabezado2 {
    color: #4cb7ff; /* azul */
}

#encabezado .encabezado3 {
    color: #ffa647; /* naranja */
}
